
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway:400');

body{
    text-align: center;
}

    #login__container {
        background-color: #FFF;
        height: 450px;
        width: 325px;
        border-radius: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -225px;
        margin-left: -162.5px;
    }
    #login__logo{
        font-family: Montserrat;
        font-size: 30px;
        letter-spacing: 1px;
        text-align: left;
        padding: 15px;
        padding-bottom: 5px;
    }
        #login__nub{
            width: 40px;
            height: 5px;
            background-color: #CB356B;
            margin-left: 15px;
            margin-bottom: 20px;
        }
    .login__inp{
        padding: 12.5px 15px;
        width: calc(100% - 30px);
        box-sizing: border-box;
        margin-top: 15px;
        font-size: 12px;
        border-radius: 5px;
        border: 0;
        background-color: #EEE;
        font-family: Montserrat;
        outline: 0;
    }
        .login__inp--submit{
            cursor: pointer;
            width: 60%;
            margin: auto;
            margin-top: 50px;
            letter-spacing: 1px;
            color: #FFF;
            background-color: #CB356B;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
        }
        .login__inp--submit:active{
            box-shadow: none;
        }