html
    head
        link(rel="stylesheet" href="./login.css")
    body
        #login__container
            #login__logo LOGIN
            #login__nub
            br
            input(placeholder="Lastname").login__inp
            input(placeholder="Password" type="password").login__inp
            input(value="LOGIN" type="submit").login__inp.login__inp--submit
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js")
        script(src="login.js")